*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
		
}


header
{
	position: absolute;
	top: -10;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}

header .logo
{
	position: relative;
	font-size: 3em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
	
	
}

header .logo span
{
	color: #105CC3;
}

header .navigation
{
	position: relative;
	display: flex;
}

header .navigation li
{
	list-style: none;
}

header .navigation li a
{
	display: inline-block;
	color: #fff;
	margin-right: 40px;
	text-decoration: none;
}

header .navigation li a:hover
{
	color: #062757;
}

.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 0 100px;
	background: #111;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	

}

.banner:before
{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	background: #127FE5 ;
	transform-origin: top;
	transform: skewX(-25deg);
	z-index: 1;
}

.banner video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
	pointer-events: none;
	
}

.banner .textBox
{
	position: relative;
	max-width: 600;
	z-index: 2;
}

.banner .textBox h2
{
	color: #fff;
	font-size: 3em;
}

.banner .textBox p
{
	color: #fff;
	font-size: 1.1em;
	margin: 5px 0 25px; 
}

.banner .textBox a
{
	position: relative;
	display: inline-block;
	background: #fff;
	color: #111;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.banner .imgBox
{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	z-index: 2;
}

.banner .imgBox img
{
	position: absolute;
	bottom: 0;
	height: 90%;
	z-index: 10000;
}
.sci
{
	position: absolute;
	bottom: 20px;
	letter-spacing: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.sci li

{
	list-style: none;
}

.sci li a

{
	display: inline-block;
	margin-right: 15px;
}

.sci li a img
{
	transform: scale(0.5);
	filter: invert(1);
}

@media (max-width: 991px)
{
	header
	{
    padding: 20px 50px;
    
	}

	header .navigation
	{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 10;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	header .navigation.active
	{
		display: flex;
	}

	header .navigation li a
	{
		font-size: 24px;
		margin: 10px 0;
	}
	

	.banner
	{
	padding: 150px 50px 0;
	flex-direction: column;
	overflow: hidden;
	}
	.banner:before 
	{
    
    width: 300px;
	transform: skewX(-25deg) translateX(50%);
    
	}
	
	.banner .textBox 
	{
    
    max-width: 100%;
    
	}
	
	.sci 
	{
    
    z-index: 1000;
    left: initial;
    right: 20px;
    flex-direction: column;
	}

	.toggleMenu
	{
		position: relative;
		width: 30px;
		height: 30px;
		background: url(toggle.png);
		background-position: center;
		background-size: 30px; 
		background-repeat: no-repeat;
		cursor: pointer; 
		z-index: 11;
	}

	.toggleMenu.active
	{
		background: url(close.png);
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
		
	}
	
}

	 